/* General Page Layout */
body {
    font-family:sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
    color: #333;
}

/* Headings */
h3 {
    color: #333;
    margin-bottom: 20px;
}

ol {
    list-style-type: none;
    padding-left: 0;
}

/* List Items */
li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li span {
    display: inline-block;
    width: 100px;
}

li span+span {
    /* Targets the value spans following label spans */
    font-weight: bold;
}