<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>User Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form_css.css}" />
  </head>
  <body>
    <form th:action="@{/form}" th:object="${fromData}" method="post">
      <label for="title">Please fill the form : </label>

      <label for="name">Name</label>
      <input type="text" id="name" name="name" th:field="*{name}" />

      <label for="email">Email</label>
      <input type="email" id="email" name="email" th:field="*{email}" />

      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        th:field="*{password}"
      />

      <button type="Submit">Submit</button>
    </form>
  </body>
</html>
